<%- include("partials/header") -%>

<!-- <h1>Home</h1> -->

<div class="opening-explanation container">
  <p> <%=paragraphTextHome%> </p>
  <button type="submit" name="button"> <a href="/compose">Add Post</a></button>
</div>

<div class="">
  <% newListPosts.forEach(function(post){ %>
  <h3>
    <%= post.title %>
  </h3>
  <p>
    <%= post.content.substring(0,100) + "..." %>
    <a href="/posts/<%= post.title %>">Read More</a>
  </p>
  <%  }) %>

</div>


<%- include("partials/footer") -%>
