<%- include("partials/header") -%>

<div class="opening-explanation">
  <h2>
    <%= postTitle %>
  </h2>
  <p>
    <%= postTest %>
  </p>
  <!-- <p>
    <%= postImage %>
  </p> -->
<!-- <img class="" src="postImage" alt=""> -->
</div>


<%- include("partials/footer") -%>
