<%- include("partials/header") -%>

<div class="">

  <h2>
    <%= postTitle %>
  </h2>
  <p>
    <%= postTest %>
  </p>
<img class="" src= <%= postImage %> alt="">

</div>


<%- include("partials/footer") -%>
